input,
textarea {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  text-indent: 6px;
  margin-top: 10px;
}

textarea {
  resize: none;
  height: 80px;
}

.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.form__buttons {
  all: unset;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #331953;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

form__buttons:hover {
  opacity: 0.8;
}

.form__back-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px;
}

.form__back-btn__text {
  margin: 5px;
}

.form__inputs {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-tag {
  display: flex;
}

.form-tag__input {
  flex: 9;
  padding: 10px;
}

.form-tag__input--select {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border-style: none;
  text-indent: 2px;
  margin-top: 0;
}

.form-tag--btn {
  flex: 1;
  text-align: center;
  height: 25px;
}
