.side-filter {
  height: 100vh;
}

.side-filter__side-buttons {
  font-size: 16px;
  margin: 15px 15px 0px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  margin-right: 70%;
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.2);
}

.side-filter__side-buttons__icons {
  cursor: pointer;
  margin: 5px;
  font-size: 24px;
}

.side-filter__filter-container {
  margin: 0 25px 0 25px;
  overflow-x: hidden;
  scrollbar-color: #331953 #625c8c;
  scrollbar-width: thin;
}

.side-filter__filter-container__list {
  padding-top: 20px;
  padding-inline-start: 0;
}
