.master {
  display: flex;
  position: relative;
  background: radial-gradient(#afa2ff, #4d4063);
}

.side {
  position: absolute;
  top: 0;
  background-color: #4d4063;
  width: 60%;
  transition: all 0.2s linear;
}

.menu {
  left: 0;
}

.filter {
  right: 0;
}

.hide {
  visibility: hidden; /* don't use display none as it unmounts the elements from DOM and breaks the animation */
  width: 0;
}

.header {
  position: relative;
  top: 0;
}

.header__actions {
  display: flex;
  justify-content: space-between;
}

.header__action--btns {
  font-size: 16px;
  margin: 15px;
  cursor: pointer;
  /* to allign the labels with the icons */
  display: flex;
  align-items: center;
}

.header__action--lbl {
  cursor: pointer;
  margin: 5px;
}

.header__action--icon {
  font-size: 24px;
}

.product {
  /* Scrolling properties */
  height: 85vh;
  overflow-x: hidden;
  scrollbar-color: #331953 #625c8c;
  scrollbar-width: thin;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
  /* for the child elements */
  word-spacing: 1px;
  line-height: 1.3;
  font-weight: 500;
  font-size: 16px;
}
