* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-page {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 65px;
  font-weight: 100;
}

.description {
  font-size: larger;
  font-weight: 200;
}
