body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  background: radial-gradient(#afa2ff, #4d4063);
}

input[type="checkbox"] {
  background-color: #b3b3b3;
  accent-color: #b3b3b3;
}

button {
  all: unset;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  opacity: 1;
}

/* When viewport is over the defined min width apply these rules */
@media (min-width: 600px) {
  body {
    width: 600px;
    height: auto;
    margin: auto;
  }
}
